<div class="counts-row">
	<div class="row">
		<div class="medium-6 columns">
			<section class="di-module">
				{{#if model.rigCount}}
				<header>
					{{data-widget 
						widgetOptions = rigCount.widgetOptions 
						count = model.rigCount.current.rig_count 
						delta = model.rigCount.current.pct_change 
						dateUpdated = model.rigCount.current.rig_date
					}}
				</header>
				
				{{high-charts content=model.rigCount.series chartOptions=rigCount.chartOptions theme=theme}}

				{{else}}
				<p>Rig Count data is not available at this time.</p>
				{{/if}}
			</section>
		</div>
		<div class="medium-6 columns">
			<section class="di-module">
				{{#if model.permitCount.chart}}
				<header>
					{{data-widget 
						widgetOptions = permitCount.widgetOptions 
						count = model.permitCount.current.permit_count 
						delta = model.permitCount.current.pct_change 
						dateUpdated = model.permitCount.current.permit_date
					}}
				</header>
				
				{{high-charts content=model.permitCount.chart chartOptions=permitCount.chartOptions theme=theme}}

				{{else}}
				<p>Permit Count data is not available at this time.</p>
				{{/if}}
			</section>
		</div>
	</div><!-- / .row -->
</div><!-- /.counts-row -->
{{#if media.isMedium}}
{{#zf-accordion allowAllClosed=true}}
  <li class="accordion-item is-active" data-accordion-item>
    <a class="accordion-title">Production Capacity</a>
    <div class="accordion-content" data-tab-content>
      	<!-- First Tab - Production Capacity -->
		<div class="row">
			<div class="small-12 columns panel">
				<h2 class="show-for-sr">Production Capacity</h2>
				{{#if model.prodCapacity}}
				<div class="row">
				<div class="medium-6 columns">
					<section class="pc-overview">
						<header class="pc-widget">
							{{data-widget 
								widgetOptions = prodCap.widgetOptions 
								count = model.prodCapacity.current.newboeproduction_mboeperday 
								delta = model.prodCapacity.current.pctchgboe 
								dateUpdated = model.prodCapacity.current.rundatetime
							}}
						</header>
						{{high-charts content=model.prodCapacity.usProdCapMboeChart  chartOptions=prodCap.chartOptions theme=theme}}
					</section>
				</div>
				<section class="medium-6 columns oilvgas">
						<div class="pc-widget">
						{{data-widget 
							widgetOptions = oilWidgetOptions 
							count = model.prodCapacity.current.newoilproduction_mbblperday 
							delta = model.prodCapacity.current.pctchgoil 
						}}
						</div>
						<div class="pc-widget">
						{{data-widget 
							widgetOptions = gasWidgetOptions 
							count = model.prodCapacity.current.newgasproduction_bcfperday 
							delta = model.prodCapacity.current.pctchggas
						}}
						</div>
					{{high-charts content=model.prodCapacity.prodOilVsGas chartOptions=prodCapByType.chartOptions theme=theme}}
				</section>
				</div>
				{{else}}
				<p>Production Capacity data is not available at this time.</p>
				{{/if}}
			</div>
		</div><!-- / .row -->
    </div><!-- / .accordion-content -->
  </li>
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">Top 10</a>
    <div class="accordion-content" data-tab-content>
    	<!-- Second Tab - Top Ten Lists -->
		<div class="row">
			<div class="small-12 columns panel">
				{{#if model.topCountiesGas}}
				{{toggle-container widgetOptions=toggleOptions model=model}}
				{{else}}
				<p>Production Capacity data is not available at this time.</p>
				{{/if}}
			</div>
		</div><!-- / .row -->
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">Maps</a>
    <div class="accordion-content" data-tab-content>
    	<!-- Third Tab - Maps -->
		<div class="row">
			<div class="small-12 columns panel">
				<h2>Maps</h2>
				{{#if model.maps}}
				<div class="large-6 columns">
					<h3>New Wells</h3>
					{{#if model.maps.acf.wells_expanded_version}}
						<a href="{{model.maps.acf.wells_expanded_version}}" target="_blank"><img src="{{model.maps.acf.wells_map_image.url}}" alt="{{model.maps.acf.wells_map_image.title}}" /></a>
					{{else}}
						<img src="{{model.maps.acf.wells_map_image.url}}" alt="{{model.maps.acf.wells_map_image.title}}" />
					{{/if}}
				</div>
				<div class="large-6 columns">
					<h3>Rig Movement</h3>
					{{#if model.maps.acf.rig_expanded_version}}
						<a href="{{model.maps.acf.rig_expanded_version}}" target="_blank"><img src="{{model.maps.acf.rig_map_image.url}}" alt="{{model.maps.acf.rig_map_image.title}}" /></a>
					{{else}}
						<img src="{{model.maps.acf.rig_map_image.url}}" alt="{{model.maps.acf.rig_map_image.title}}" />
					{{/if}}
				</div>
				{{else}}
				<p>Map data is not available at this time.</p>
				{{/if}}
			</div>
		</div>
    </div>
  </li>
{{/zf-accordion}}
{{else}}
{{#zf-tabs}}
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Production Capacity</a></li>
  <li class="tabs-title"><a href="#panel2">Top 10</a></li>
  <li class="tabs-title"><a href="#panel3">Maps</a></li>
{{/zf-tabs}}
<div class="tabs-content" data-tabs-content="dashboard-tabs">
  <div class="tabs-panel is-active" id="panel1">
    	<!-- First Tab - Production Capacity -->
		<div class="row">
			<div class="small-12 columns panel">
				<h2 class="show-for-sr">Production Capacity</h2>
				{{#if model.prodCapacity}}
				<div class="large-6 columns">
					<section class="pc-overview">
						<header class="pc-widget">

							{{data-widget 
								widgetOptions = prodCap.widgetOptions 
								count = model.prodCapacity.current.newboeproduction_mboeperday 
								delta = model.prodCapacity.current.pctchgboe 
								dateUpdated = model.prodCapacity.current.rundatetime
							}}

						</header>
						{{high-charts content=model.prodCapacity.usProdCapMboeChart  chartOptions=prodCap.chartOptions theme=theme}}
					</section>
				</div>
				<section class="large-6 columns">
						<div class="pc-widget">
						{{data-widget 
							widgetOptions = oilWidgetOptions 
							count = model.prodCapacity.current.newoilproduction_mbblperday 
							delta = model.prodCapacity.current.pctchgoil
						}}
						</div>
						<div class="pc-widget">
						{{data-widget 
							widgetOptions = gasWidgetOptions 
							count = model.prodCapacity.current.newgasproduction_bcfperday 
							delta = model.prodCapacity.current.pctchggas
						}}
						</div>
					{{high-charts content=model.prodCapacity.prodOilVsGas chartOptions=prodCapByType.chartOptions theme=theme}}
				</section>
				{{else}}
				<p>Production Capacity data is not available at this time.</p>
				{{/if}}
			</div>
		</div><!-- / .row -->
  </div>
  <div class="tabs-panel" id="panel2">
    <!-- Second Tab - Top Ten Lists -->
		<div class="row">
			<div class="small-12 columns panel">
				{{#if model.topCountiesGas}}
				{{toggle-container widgetOptions=toggleOptions model=model}}
				{{else}}
				<p>Production Capacity data is not available at this time.</p>
				{{/if}}
			</div>
		</div><!-- / .row -->
  </div>
  <div class="tabs-panel" id="panel3">
    <!-- Third Tab - Maps -->
		<div class="row">
			<div class="small-12 columns panel">
				<h2>Maps</h2>
				{{#if model.maps}}
				<div class="large-6 columns">
					<h3>New Wells</h3>
					{{#if model.maps.acf.wells_expanded_version}}
						<a href="{{model.maps.acf.wells_expanded_version.url}}" target="_blank"><img src="{{model.maps.acf.wells_map_image.url}}" alt="{{model.maps.acf.wells_map_image.title}}" /></a>
					{{else}}
						<img src="{{model.maps.acf.wells_map_image.url}}" alt="{{model.maps.acf.wells_map_image.title}}" />
					{{/if}}
				</div>
				<div class="large-6 columns">
					<h3>Rig Movement</h3>
					{{#if model.maps.acf.rig_expanded_version}}
						<a href="{{model.maps.acf.rig_expanded_version.url}}" target="_blank"><img src="{{model.maps.acf.rig_map_image.url}}" alt="{{model.maps.acf.rig_map_image.title}}" /></a>
					{{else}}
						<img src="{{model.maps.acf.rig_map_image.url}}" alt="{{model.maps.acf.rig_map_image.title}}" />
					{{/if}}
				</div>
				{{else}}
				<p>Map data is not available at this time.</p>
				{{/if}}
			</div>
		</div>
  </div>
</div>
{{/if}}