<div class="row">
	<div class="small-5 columns">
		<div class="data-header">
			<h3>{{widgetOptions.title}}</h3>
			{{#if dateUpdated}}
			<p>
				
				{{#unless dateToBottom}}
					{{moment-format dateUpdated widgetOptions.dateFormat}}
				{{/unless}}
			
			{{#if widgetOptions.interval}}
				&nbsp;({{widgetOptions.interval}})
			{{/if}}
			</p>
			{{/if}}
		</div>
	</div>
	<div class="small-2 columns text-center">
		<div class="data-header">
			<div class="count">{{count}}</div>
			{{#if widgetOptions.units}}
			<p>{{widgetOptions.units}}</p>
			{{/if}}
		</div>
	</div>
	<div class="small-5 columns text-right">
		<div class="data-header">
			{{{delta-direction delta}}}
			<p>{{widgetOptions.changeText}}</p>
		</div>
	</div>
</div>
{{#if dateUpdated}}
{{#if dateToBottom}}
	<div class="small-12 columns text-center">
		<p>(Data from {{moment-format dateUpdated widgetOptions.dateFormat}})</p>
	</div>
{{/if}}
{{/if}}
{{yield}}