<div class="row">
	<div class="small-4 columns">
		<h3>{{widgetOptions.title}}</h3>
		<p>
			{{#if dateUpdated}}
			{{#unless dateToBottom}}
				{{moment-format dateUpdated widgetOptions.dateFormat}}
			{{/unless}}
			{{/if}}
		
		{{#if widgetOptions.interval}}
			&nbsp;({{widgetOptions.interval}})
		{{/if}}
		</p>
	</div>
	<div class="small-4 columns">
		<h3>{{count}}</h3>
		{{#if widgetOptions.units}}
		<p>{{widgetOptions.units}}</p>
		{{/if}}
	</div>
	<div class="small-4 columns">
		{{{delta-direction delta}}}
		<p>{{widgetOptions.changeText}}</p>
	</div>
</div>
{{#if dateUpdated}}
{{#if dateToBottom}}
	<div class="small-12 columns text-center">
		<p>(Data from {{moment-format dateUpdated widgetOptions.dateFormat}})</p>
	</div>
{{/if}}
{{/if}}
{{yield}}